.scrollbar{
    overflow: hidden;
    width: 100%;
    max-height: 60vh; 
}
.scrollbar:hover{
    overflow: auto;
    width: 100%;
    max-height:60vh; 
}

.active{
    background-color: white !important;
    border-bottom: 2px solid rgb(85,20,180) !important;
    color: black !important;
}