<section *ngIf="!sendOtp">
    <h2 style="text-align: center; margin-top: 8%;"><b> Reset Your Password</b></h2>

    <div class="card border-secondary mx-auto m-5 text-center"
        style="width: 40%; background-color: rgb(247 250 251);  
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-weight:500; "> Enter your user account's verified email
                        address and we will send you an
                        otp to reset your password. </label>
                    <input type="email" class="form-control" name="username" ngModel [(ngModel)]="username"
                        style="border-radius: 5px;margin-top: 5%;margin-bottom: 5%;" placeholder="Enter email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small> -->
                </div>
                <button type="submit" class="btn  btn-sm " style="width: 100% ;display:block;
                 background-color: rgb(33, 168, 67); color: white; border-radius: 5px;" (click)="sendOTP()">Send
                    OTP</button>

            </form>
        </div>
    </div>
</section>
<section *ngIf="sendOtp">
    <h2 style="text-align: center; margin-top: 8%;"><b> Reset Your Password</b></h2>

    <div class="card border-secondary mx-auto m-5 text-center"
        style="width: 30%; background-color: rgb(247 250 251);  
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';">
        <div class="card-body">
            <form>
                <label for="exampleInputEmail1" style="font-weight:500; "> Enter the verification code we just sent you
                    on Your
                    email address. </label>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2" >
                    <!-- <div *ngFor="let i of items; index as j" class="m-2">
                        <input class="text-center form-control rounded" type="text" id="first" maxlength="1" (keyup)="keytab($event)" />
                    </div> -->

                    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4, allowNumbersOnly:true}"></ng-otp-input>
                </div>
                <div class="mt-4">
                    <button type="button" class="btn validate" style="width: 100% ;display:block; 
                background-color: rgb(33, 168, 67); color: white; border-radius: 5px;" (click)="validate()">Validate</button>
                </div>
                <div class="card-2">
                    <div class="content d-flex justify-content-center align-items-center" *ngIf="!isMaxAttemptReached">
                        <span>Didn't get the code</span>
                        <button class="btn-custum text-decoration-none ms-3" [hidden]="!timerOn || isMaxAttemptReached" (click)="resend(60)">Resend({{attemptCounter}}/3)</button>
                        <div [hidden]="timerOn">Resend Code in : <span id="timer"></span></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>