<!-- <h1>THIS IN MODAL COMPONENT</h1> -->
<!-- <ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
  </div>


    <div class="modal-body mt-4">
      <ng-content>
      <div class="tab-content" id="nav-tabContent">
        <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;   text-align: center;">Details</h2>
        <div *ngIf="interviewRounds" style="text-align: center;" class="text-center">
            <table style=" width:70%; margin-left:15%; margin-right:15%;">
                <tr>
                    <th>Id:</th>
                    <td>{{interviewRounds.id}}</td>
                </tr>
                <tr>
                    <th>Interview Id:</th>
                    <td>{{interviewRounds.interviewId}}</td>
                </tr>
                <tr>
                    <th>Candidate Email Id:</th>
                    <td>{{interviewRounds.candidateEmailId}}</td>
                </tr>
                <tr>
                    <th>Interviewer Email Id:</th>
                    <td>{{interviewRounds.interviewerEmailId}}</td>
                </tr>
                <tr>
                    <th>Title:</th>
                    <td>{{interviewRounds.title}}</td>
                </tr>
                <tr>
                    <th>Interview Date:</th>
                    <td>{{interviewRounds.interviewDate}}</td>
                </tr>
                <tr>
                    <th>InterviewTime:</th>
                    <td>{{interviewRounds.interviewTime}}</td>
                </tr>
                <tr>
                    <th>Virtual Link:</th>
                    <td>{{interviewRounds.virtualLink}}</td>
                </tr>
                <tr>
                    <th>Interview FeedBack:</th>
                    <td>{{interviewRounds.interviewFeedBack}}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{interviewRounds.status}}</td>
                </tr>

            </table>
        </div>

           <div *ngIf="boolVar" class="text-center">
               <strong>Form Submitted Successfully !</strong>
           </div>
   </div>
   </ng-content>
     </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="dismiss()"
            *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
            [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
      {{ modalConfig.dismissButtonLabel }}
    </button>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="close()"
            *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
            [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
  </div>
</ng-template> -->

