<nav class="navbar navnar-collapse " *ngIf="false">
  <ul class="nav nav-tabs" style="border-bottom: 0px;">
    <h2 class="text-white" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder;">Hiring Event</h2>
  </ul>

<ul class="nav ">
  <button  class="btn btn-warning text-white" style="border-radius: 5px; margin-right: 1rem" (click)="addUser()">Add User</button>
  <button  class="btn btn-danger" style="border-radius: 5px; margin-right: 1rem" (click)="logout()">Logout</button>
</ul>
</nav>


<!-- <div class="container router"> -->
  <router-outlet style="background-color: aqua;"></router-outlet>
<!-- </div> -->

<!-- <div class="footer ">
  <h4>&copy; <a href="https://github.com/umaa-java-sept-2020/hiring-events"
     target="_blank"
     style="text-decoration: none; color: white;"> Hiring_Event v2.0</a> </h4>
</div> -->


