<ng-container *ngFor="let interviewRound of interviewRounds | async">
  <div *ngIf="interviewRound.interviewId == null">
    <h2>No interview Records added !</h2>
  </div>
</ng-container>

<div class="row">
  <div class="scrollbar">
    <table class="table text-center table-striped">
      <thead>
        <tr>
          <th scope="col" class="col-3">CANDIDATE_EMAIL_ID</th>
          <th scope="col" class="col-2">TITLE</th>
          <th scope="col" class="col-2">Interview ID</th>
          <th scope="col" class="col-2">STATUS</th>
          <th scope="col" class="col-3">ACTION</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let interviewRound of interviewRounds | async;let i = index">
          <tr *ngIf="interviewRound.interviewId == id">
            <td class="col-3">{{interviewRound.candidateEmailId}}</td>
            <td class="col-2">{{interviewRound.title}}</td>
            <td class="col-2">{{interviewRound.interviewId}}</td>
            <td class="col-2">{{interviewRound.status}}</td>
            <td class="col-3 ">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn" style="background-color: white !important;" data-bs-toggle="modal"
                    data-bs-target="#viewSingleRoundModal" (click)="viewSingleRoundModal(interviewRound.id)">
                    <i class="fa fa-eye fa-lg" style="color:black"></i></button>
                  <!-- Modal -->


                </div>
                <div class="col">
                  <!-- <button type="button" class="btn" style="background-color: white !important;"
                                  (click)="updateInterviewRound(interviewRound.id)"
                                  ><i class="fa fa-edit fa-lg" style="color:rgb(59, 25, 110)"></i></button> -->
                  <button type="button" class="btn" style="background-color: white !important;"
                    (click)="viewSingleRoundModal(interviewRound.id)" data-bs-toggle="modal"
                    data-bs-target="#editSingleRoundModal"><i class="fa fa-edit fa-lg"
                      style="color:rgb(59, 25, 110)"></i></button>
                  <!-- Modal -->
                
                </div>
                <div class="col">
                  <button type="button" class="btn" style="background-color: white !important;"
                  data-bs-toggle="modal" data-bs-target="#deleteSingleRoundModal" ><i class="fa fa-trash fa-lg"
                      style="color:red"></i></button>
                     
                </div>


              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="viewSingleRoundModal" tabindex="-1" aria-labelledby="viewSingleRoundModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewSingleRoundModalLabel2"> Round Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mt-4" id="id1">
        <div class="tab-content" id="nav-tabContent">
          <div *ngIf="interviewRound" style="text-align: center;" class="text-center">

            <table style=" width:70%; margin-left:15%; margin-right:15%;">
              <tr>
                <th>Id:</th>
                <td>{{interviewRound.id}}</td>
              </tr>
              <tr>
                <th>Title:</th>
                <td>{{interviewRound.title}}</td>
              </tr>
              <tr>
                <th>Candidate Email Id:</th>
                <td>{{interviewRound.candidateEmailId}}</td>
              </tr>
              <tr>
                <th>Interview Id:</th>
                <td>{{interviewRound.interviewId}}</td>
              </tr>
              <tr>
                <th>Interviewer Email Id:</th>
                <td>{{interviewRound.interviewerEmailId}}</td>
              </tr>

              <tr>
                <th>Virtual Link:</th>
                <td>{{interviewRound.virtualLink}}</td>
              </tr>
              <tr>
                <th>Interview Date:</th>
                <td>{{interviewRound.interviewDate}}</td>
              </tr>
              <tr>
                <th>Interview Time:</th>
                <td>{{interviewRound.interviewTime}}</td>
              </tr>
              <tr>
                <th>Status:</th>
                <td>{{interviewRound.status}}</td>
              </tr>
              <tr>
                <th>Interview Feedback:</th>
                <td>{{interviewRound.interviewFeedBack}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editSingleRoundModal" tabindex="-1"
aria-labelledby="editSingleRoundModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editSingleRoundModalLabel">Edit Round Details</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body mt-4">
      <div class="tab-content" id="nav-tabContent">
        <div class="form" (keyup.enter)="updateInterviewRoundDetails(updateInterviewRound.id)">
          <div class="row">
            <div class="col">
              <div class="form-group ">
                <label><b> Title : </b></label>
                <input type="text" class="form-control" [(ngModel)]="updateInterviewRound.title"
                  id="title" name="title">
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label><b> Candidate Email Id : </b></label>
                <input type="email" class="form-control"
                  [(ngModel)]="updateInterviewRound.candidateEmailId" id="candidateEmailId"
                  name="candidateEmailId">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="form-group ">
                <label><b>Interviewer Email Id : </b></label>
                <select class="form-select" aria-label="Default select example"
                  [(ngModel)]="updateInterviewRound.interviewerEmailId" required
                  name="INTERVIEWER_EMAIL_ID" #box3 ngModel>
                  <ng-container *ngFor="let jobdetail of jobDetails | async ">
                    <option [value]="jobdetail.interviewerEmail">
                      {{jobdetail.interviewerEmail}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="form-group ">
                <label><b>Virtual Link : </b></label>
                <input type="text" class="form-control"
                  [(ngModel)]="updateInterviewRound.virtualLink" id="virtualLink"
                  name="virtualLink">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group ">
                <label><b>Interview Date: </b></label>
                <input type="date" class="form-control"
                  [(ngModel)]="updateInterviewRound.interviewDate" id="interviewDate"
                  name="interviewDate" >
              </div>
            </div>

            <div class="col">
              <div class="form-group ">
                <label><b>interviewTime : </b></label>
                <input type="time" class="form-control"
                  [(ngModel)]="updateInterviewRound.interviewTime" id="interviewTime"
                  name="interviewTime">
              </div>
            </div>

            <div class="col">
              <div class="form-group ">
                <label><b>Status : </b></label>
                <select class="form-select" aria-label="Default select example"
                  [(ngModel)]="updateInterviewRound.status" required name="INTERVIEW_STATUS" #box9
                  ngModel>

                  <option value="SCHEDULED">Scheduled</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="POSITIVE">Positive</option>
                  <option value="NEGATIVE">Negative</option>
                  <option value="OFFERED">Offered</option>

                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label><b>Interview Feedback : </b></label>
                <input type="text" class="form-control"
                  [(ngModel)]="updateInterviewRound.interviewFeedBack" id="interviewFeedBack"
                  name="interviewFeedBack">
              </div>
            </div>

          </div>

          <div class="text-center mt-4">
            <button type="button" class="btn btn-success mt-2" data-bs-dismiss="modal"
              (click)="updateInterviewRoundDetails(interviewRound.id)">Update</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade text-center" id="deleteSingleRoundModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content p-3" >
      <h5 >Are you sure you want to delete?</h5>
      <div>
      <div class="row m-3">
        <div class="col col-6">
          <button class="btn btn-success" type="button" (click)="deleteInterviewRound(interviewRound.id)"
          style="border-color: black;"  data-bs-dismiss="modal">Confirm</button>
        </div>
        <div class="col col-6">
          <button class="btn btn-light " type="button"  data-bs-dismiss="modal" 
          style="border-color: black;">Cancel</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>